<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d22.dungeon"
    android:versionCode="3"
    android:versionName="1.0.5." >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="d22 dungeon"
        android:theme="@android:style/Animation" >
        <activity android:name="d22.dungeon.D22DungeonDesigners" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>